  <%= turbo_frame_tag "tab_content" do %>
    <h1 class="text-2xl">
      <%= @unit.title %>
    </h1>
    <h3 class="text-lg font-medium text-gray-900">
      Units
    </h3>
    <%= link_to "Create Topic",
                new_admin_topic_path(unit_id: @unit.id),
                class: "btn btn-primary btn-sm" %>

    <div class="overflow-x-auto overflow-y-auto">
      <%= render "admin/units/show_table", unit: @unit %>
    </div>

    <div class="divider"></div>

    <h3 class="text-lg font-medium text-gray-900">
      Assignments
    </h3>

    <%= link_to "Create Assignment",
                new_assignment_path(unit_id: @unit.id),
                class: "btn btn-primary btn-sm" %>

    <div class="overflow-x-auto overflow-y-auto">
      <%= render "assignments/assignment_table", unit: @unit %>
    </div>

  <% end %>