<%= turbo_frame_tag "tab_content" do %>
<div>
  <p>
    <strong>Title:</strong>
    <%= @unit.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @unit.description %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= @unit.course_id %>
  </p>

  <p>
    <strong>Topics Covered:</strong><br>
    <% @unit.topics.each do |topic| %>
      <%= topic.title %>: <br>
      <em class="ml-4"><%= topic.description %></em><br>
    <% end %>
  </p>

  <% if @unit.topics.any? %>
    <% @unit.topics.each do |topic| %>
      <%# Dump files if attached %>
      <% if topic.files.attached? %>
        <%= image_tag(topic.files.first, size: "100x100") %>
      <% end %>
    <% end %>
  <% else %>
    <p>No topics or images available.</p>
  <% end %>

</div>

  <%= link_to "Back", user_tab_units_path,
              data: {
                turbo_frame: "tab_content",
                action: "click->tabs#activate",
                tabs_target: "tab" },
              class: "tab" %>
<% end %>