<%= turbo_frame_tag "tab_content" do %>

<div>
  <ul class="steps steps-vertical lg:steps-horizontal">
    <% @unit.topics.each do | topic | %>
      <li class="step step-success">
        <%= link_to user_topic_path(topic.id),
                    data: { turbo_frame: "topic_content" } do %>
          <%= topic.title %>
        <% end %>
      </li>
    <% end  %>
  </ul>


  <div class="border-2 border-amber-200">
    <%= turbo_frame_tag "topic_content" %>

  </div>
</div>

  <%= link_to "Back", user_tab_units_path,
              data: {
                turbo_frame: "tab_content",
                action: "click->tabs#activate",
                tabs_target: "tab" },
              class: "tab" %>
<% end %>