<div id="<%= dom_id assignment %>">
  <p>
    <strong>Title:</strong>
    <%= assignment.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= assignment.description %>
  </p>

  <p>
    <strong>Deadline:</strong>
    <%= assignment.deadline %>
  </p>

  <p>
    <strong>Unit:</strong>
    <%= assignment.unit_id %>
  </p>

</div>
