<turbo-frame id="tab_content" class="col-span-3 row-start-3 w-full">
  <div class="h-full w-full p-4">
    <div class="grid grid-cols-3 grid-rows-2 gap-4 h-full border-1 border-indigo-500">
      <div class="flex flex-col items-center justify-start text-white border border-dashed">
        Deadlines
        <%= render "deadlines" %>
      </div>
      <div class="row-span-2 flex flex-col items-center justify-start text-white border border-dashed">
        <h1>Recent Messages by Module:</h1>
        <%#=image_tag("https://robohash.org/thing.png?size=700x500") %>
        <%= render "recent_messages" %>
      </div>
      <div class=" flex flex-col items-center justify-start text-white border border-dashed">
        Gradebook
        <%= render "user/tabs/gradebook" %>
      </div>
      <div class="flex flex-col items-center justify-start text-white border border-dashed">
        Schedule
        <%= render "user/tabs/schedule" %>
      </div>
      <div class="flex flex-col items-center justify-start text-white border border-dashed">
        Resources
        <%= render "user/tabs/resources" %>
      </div>
    </div>
  </div>
</turbo-frame>