<turbo-frame id="tab_content" class="col-span-3 row-start-3 w-full">
  <div class=" w-full p-4">
    <div class="grid grid-cols-3 grid-rows-2 gap-4  border-1 border-indigo-500">
      <div class="flex flex-col justify-start border border-dashed">
        Deadlines

        <%= render "tabs/deadlines", assignments: @assignments%>
      </div>
      <div class="row-span-2 flex flex-col items-center justify-start border border-dashed">
        <h1>Recent Messages by Module:</h1>
        <%= render "tabs/recent_messages", messages: @recent_mentions, units: @units %>
      </div>
      <div class=" flex flex-col items-center justify-start border border-dashed">
        Gradebook
        <%= render "tabs/gradebook" %>
      </div>
      <div class="flex flex-col items-center justify-start border border-dashed">
        Schedule
        <%= render "tabs/schedule" %>
      </div>
      <div class="flex flex-col items-center justify-start border border-dashed">
        Resources
        <%= render "tabs/resources" %>
      </div>
    </div>
  </div>
</turbo-frame>