<%= turbo_frame_tag "new_message" do %>
  <h2>New Message for <%= @topic.title %></h2>

  <%= form_with(model: [:admin, @course, @unit, @topic, @topic.messages.new], class: "space-y-4") do |f| %>
    <div>
      <%= f.label :content, "Message" %>
      <%= f.text_area :content, class: "textarea textarea-bordered w-full" %>
    </div>
    <%= f.submit "Post Message", class: "btn btn-primary" %>
  <% end %>
<% end %>