
 <div class="border-2
  text-center p-8">
      <span>Hi <%= @user.first_name %>,  </span>

  </div>

        <div role="tablist" class="tabs tabs-lift tabs-xl items-center justify-center text-white border-2
             text-center p-8"
             data-controller="tabs modal"
              data-action="">
          <%= link_to "Overview", overviews_path,
                      id: "overview_tab",
                      data: {
                        turbo_frame: "tab_content",
                        action: "click->tabs#activate",
                        tabs_target: "tab" },
                        class: "tab tab-active" %>
          <%= link_to "Units", units_path,
                      id: "units_tab",
                      data: {
                        turbo_frame: "tab_content",
                        action: "click->tabs#activate",
                        tabs_target: "tab" },
                        class: "tab" %>
          <%= link_to "Messages", conversations_path,
                      id: "messages_tab",
                      data: {
                        turbo_frame: "tab_content",
                        action: "click->tabs#activate",
                        tabs_target: "tab" },
                        class: "tab" %>
          <%= link_to "Timetable", timetables_path,
                      id: "timetable_tab",
                      data: {
                        turbo_frame: "tab_content",
                        action: "click->tabs#activate",
                        tabs_target: "tab" },
                        class: "tab" %>
          <%= link_to "Profile", user_path(@user),
                      id: "profile_tab",
                      data: {
                        turbo_frame: "tab_content",
                        action: "click->tabs#activate",
                        tabs_target: "tab" },
                        class: "tab" %>
        </div>
<!--      </div>-->
    <div class="border-2" id="primary">
      <%= turbo_frame_tag "tab_content", src: overviews_path %>
    </div>

