<%= turbo_frame_tag "topic_content" do %>
  <h1><%= @topic.unit.title %></h1>
  <h3><%= @topic.title %></h3>
  <p><%= @topic.description %></p>

  <ul>
  <% @topic.files.each do |file| %>
      <% if file.filename.to_s.include? "jpg" %>
        <%= image_tag file.representation(resize_to_limit: [600, 600]) %>
      <% end  %>
      <% if file.filename.to_s.include? "pdf" %>
        <div id="app" data-document-url="<%= file.url %>"></div>
      <% end %>
    <% end %>
  </ul>

<% end %>