<%= turbo_frame_tag "tab_content" do %>
  <div class="p-4 flex-1 flex flex-col" >
    <div class="text-2xl font-bold mb-2"><%= @unit.title %></div>

    <%= render "units/unit_topics", unit: @unit %>

    <% if @selected_topic %>
      <%= render "topics/topic_content", topic: @selected_topic %>
    <% else %>
      <p class="italic text-gray-500">Select a topic to view details.</p>
    <% end %>

    <%= link_to "Back", units_path,
               data: {
                 turbo_frame: "tab_content",
                 action: "click->tabs#activate",
                 tabs_target: "tab"
               },
                class: "tab mt-4" %>
  </div>
<% end %>


