<turbo-frame id="tab_content">
  <table class="w-full table-auto ">
    <thead class="sticky top-0">
      <tr>
        <% if @users.any? %>
          <% @users.first.attributes.keys.each do |key| %>
            <th class="border px-4 py-2 text-left"><%= key.titleize %></th>
          <% end %>
          <th class="border px-4 py-2 text-left">Actions</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <%= link_to edit_admin_user_path(user.id), class: "block" do %>
          <tr class="">
            <% user.attributes.values.each do |value| %>
              <td class="border px-4 py-2"><%= value %></td>
            <% end %>
            <td class="border px-4 py-2">
              <%= link_to "View",
                          admin_user_path(user),
                          class: "text-blue-600 hover:text-blue-800",
                          data: { turbo: false }%>
              <%= link_to "Edit",
                          edit_admin_user_path(user),
                          class: "text-blue-600 hover:text-blue-800",
                          data: { turbo: false }%>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</turbo-frame>
