<turbo-frame id="tab_content">
  <div>
    <div class="overflow-x-auto">
      <table class="table table-zebra table-xs">
        <thead>
        <tr>
          <th>ID #</th>
          <th>Email Address</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Account type</th>
        </tr>
        </thead>
        <tbody>
        <%# TODO - Sizing + Make clickable to navigate to a management page %>
        <% @users.each do |user| %>
          <tr class="hover">
            <th class="border px-4 py-2"><%= user.id %></th>
            <td class="border px-4 py-2"><%= user.email_address%></td>
            <td class="border px-4 py-2"><%= user.first_name %></td>
            <td class="border px-4 py-2"><%= user.last_name %></td>
            <td class="border px-4 py-2"><%= user.account_type %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
  </div>
</turbo-frame>
