<turbo-frame id="tab_content">
<div class="w-full p-6">
  <h1 class="text-3xl font-bold mb-6">PROFILE</h1>
  <h2 class="text-2xl font-semibold mb-4"><%= "#{@user.first_name}" %></h2>

  <div class="grid grid-rows-[auto_1fr] glass gap-6 p-6 rounded-lg w-full">
    <div class="grid grid-cols-2 gap-12 justify-items-center">
      <div class="avatar">
        <div class="w-82 rounded ring ring-cyan-600 ring-offset-2">
          <%= image_tag("https://robohash.org/#{rand}.png?size=400x400", alt: "Profile Image") %>
        </div>
      </div>

    </div>


    <div class=" p-6 rounded-lg col-span-full">
      <div class="grid grid-cols-2 gap-x-12 gap-y-6 justify-items-center">
        <label class="input input-bordered flex items-center gap-2 bg-white">
          <input type="text" class="grow" placeholder="<%= @user.email_address %>" />
        </label>

        <label class="input input-bordered flex items-center gap-2 bg-white">
          <input type="text" class="grow" disabled placeholder="<%= @user.first_name %>" />
        </label>


        <label class="input input-bordered flex items-center gap-2 bg-white">
          <input type="text" class="grow" disabled placeholder="<%= @user.last_name %>" />
        </label>

        <label class="input input-bordered flex items-center gap-2 bg-white">
          <input type="password" class="grow" value="password" />
        </label>
      </div>
    </div>
  </div>
</div>
</turbo-frame>