<%= turbo_frame_tag "tab_content" do %>
  <div class="p-4">
    <h1><%= @unit.title %></h1>
    <%= render "user/units/unit_topics", unit: @unit %>

    <% @assignments.each do %>
      <strong><%= it.title %></strong>
      <%= it.deadline %> <br>
    <% end %>
  </div>

  <%= turbo_frame_tag "tab_content" do %>
    <div class="grid grid-cols-2 gap-6 p-4">
      <div class="space-y-4">
        <ul class="list-none">
          <%# @assignments.files.each do |file| %>
              <div class="collapse bg-base-100 border border-base-300 rounded-lg mb-4 shadow-sm">
                <input type="checkbox" class="peer" />
                <div class="collapse-title font-semibold text-lg cursor-pointer p-4">
                  <%#= file.filename %>
                </div>
                <div class="collapse-content text-sm p-4">
                  <div id="app" data-document-url="<%#= rails_blob_url(file) %>"></div>
                </div>
              </div>
          <%# end %>
        </ul>
      </div>

      <p>chat windows here</p>
      <%= render "shared/chat_window", messageable: @messageable %>
    </div>
  <% end %>
<% end %>