<footer class="footer footer-horizontal footer-center bg-base-200 text-base-content rounded p-10">
  <nav class="grid grid-flow-col gap-4">
    <%= link_to "Sitemap", sitemap_path, class:"link link-hover"%>
    <%= link_to "Accessibility", accessibility_path, class:"link link-hover"%>
    <%= link_to "Privacy", privacy_path, class:"link link-hover"%>
    <%= link_to "Terms", terms_path, class:"link link-hover"%>
    <%= link_to "Contact", contact_path, class:"link link-hover"%>
  </nav>
</footer>