<div class="navbar glass shadow-sm">
  <div class="navbar-start">
    <%# TODO Populate accordingly %>
    <a class="btn btn-ghost text-xl">{Time}</a>
    <a class="btn btn-ghost text-xl">{Next Timetabled Event}</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li>
        <%# TODO add logo %>
        <%= link_to "Erudite", user_home_path, class: "btn btn-ghost text-xl" %>
        <%# TODO -> Don't leave this here %>
        <%= link_to "admin", admin_dashboard_index_path, class: "btn btn-ghost text-xl" %>
      </li>
    </ul>
  </div>
  <div class="navbar-end">
    <%# TODO conditional button %>
    <a class="btn">{Conditional Button}</a>
    <%= link_to "Notifications", user_notifications_path, class:"btn mx-2"%>
    <%= link_to "Profile", user_profile_path, class:"btn mx-2"%>
    <%= button_to "Sign Out", session_path, method: :delete, class: "btn mx-2" %>

  </div>
</div>