<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= content_for(:title) || "Erudite" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>

    <script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"></script>

    <% if Current.user %>
      <%= turbo_stream_from "user_#{Current.user.id}_notifications" %>
    <% end %>
  </head>

  <body class="min-h-screen flex flex-col">
    <%= render "layouts/navbar" %>

    <dialog
      class="modal"
      data-controller="modal"
      data-action="turbo:frame-load->modal#open turbo:submit-end->modal#close"
    >
      <div class="modal-box">
        <h3 class="text-lg font-bold">Notifications</h3>
        <div class="py-4">
          <%= turbo_frame_tag "notifications" %>
        </div>
        <div class="modal-action">
          <form method="dialog">
            <button class="btn">Close</button>
          </form>
        </div>
      </div>
    </dialog>

    <main class="container mx-auto w-11/12 max-w-none flex-1 px-5 flex flex-col">
      <%#= render 'shared/flash' %>
      <%= yield %>
    </main>



    <%= render "layouts/footer" %>
  </body>
</html>
